//Colors
$base-white: #ffffff;
$base-grey: #6e6e6e;
$base-black:  #000000;
$base-red: #d92c2c;
$light-grey: #c8c8c8;
$base-green: #007e06;
$base-blue: #106da2;
$lighter-grey: #f1f1f1;
$base-brown:#ae6d0c;
$dark-grey: #444444;

//Viewports
$desktop-width: 1600px;
$mobile-width: 320px;

//effects
$box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
$tf-default: 0.3s ease;

// Typography
$fz-default: 16px;
$ff-family: "Helvetica", "Arial", sans-serif;

// Retina
// ---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Viewports
// ---------------------------------

$vp-1600: 1600px;
